* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  text-align: center;

  .container-inner {
    display: inline-block;
    max-width: 95%;
    width: 1000px;
  }
}

