#current-jobs {

  table {
    width: 100%;
    background: #FAFAFA;

    td, th {
      //border: 1px solid #DDD;
      padding: 12px;
    }

    th {
      text-transform: uppercase;
      font-size: 0.8em;
      background: #E4E4E4;
      padding: 24px 12px;
    }

    td {
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}
