#navbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  color: black;
  z-index: 4;
  height: 50px;
  text-align: left;
  padding-left: 24px;

  .navbar-item {
    line-height: 50px;

    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1em;
      padding: 0 12px;
    }
  }
}
