#submit-job {

  .section {
    margin-bottom: 50px;
  }


  .selected-path-container {
    margin-bottom: 24px;

    .selected-label {
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }

  .file {
    padding: 10px;

    &:hover {
      background: #FAFAFA;
      cursor: pointer;
    }

    &.selected {
      background: lighten(desaturate($color-primary, 0), 33);
    }
  }
}
