* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.container, .relative-container {
  text-align: center; }
  .container .container-inner, .relative-container .container-inner {
    display: inline-block;
    max-width: 95%;
    width: 1000px; }

.html, body {
  color: #444; }

.align-right {
  text-align: right; }

.hidden {
  display: none; }

button, .button {
  padding: 11px;
  background: none;
  border: 1px solid #999;
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  transition: background 0.1s;
  border-radius: 1px;
  min-width: 120px; }
  button:hover, .button:hover {
    text-decoration: none;
    background: #FAFAFA; }

.color-background {
  height: 200px;
  background: #74a577;
  position: relative; }
  .color-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3) inset; }

.relative-container {
  position: relative;
  top: -100px; }

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12);
  background: white;
  text-align: left; }
  .card .card-header {
    text-transform: uppercase;
    padding: 40px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 1.8em; }
  .card .card-content {
    padding: 40px; }

.path-bar {
  background: #EFEFEF;
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  margin: 24px 8px;
  color: #666; }

.modal .modal-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px; }

.modal .modal-content {
  padding: 20px; }

.modal .button-container {
  text-align: right;
  margin-top: 30px; }
  .modal .button-container .button {
    width: 120px; }

.files-container {
  width: 100%;
  border-radius: 1px;
  border: 1px solid #999;
  text-align: left;
  margin-top: 12px;
  max-height: 500px;
  overflow: auto; }
  .files-container .file {
    padding: 10px; }
    .files-container .file i {
      min-width: 22px;
      display: inline-block; }
    .files-container .file.directory a, .files-container .file.directory {
      color: #5a8c5d; }
    .files-container .file.non-directory a, .files-container .file.non-directory {
      color: #555; }
    .files-container .file:hover {
      background: #FAFAFA;
      cursor: pointer; }
    .files-container .file .close-icon {
      padding-bottom: 8px;
      float: right; }
      .files-container .file .close-icon:hover {
        cursor: pointer;
        color: black; }
    .files-container .file.selected {
      background: #dae7db; }

#navbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  color: black;
  z-index: 4;
  height: 50px;
  text-align: left;
  padding-left: 24px; }
  #navbar .navbar-item {
    line-height: 50px; }
    #navbar .navbar-item a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1em;
      padding: 0 12px; }

#home {
  height: 100%;
  background: #FEFEFE; }
  #home .files {
    min-height: 500px; }
  #home .buttons-container button, #home .buttons-container .button {
    margin: 8px; }

#nii .papaya-toolbar {
  display: none; }

#submit-job .section {
  margin-bottom: 50px; }

#submit-job .path-container {
  position: relative; }
  #submit-job .path-container .back {
    position: absolute;
    left: 0;
    height: 39px;
    line-height: 39px;
    font-size: 1.4em;
    padding-left: 12px;
    padding-right: 16px;
    border-radius: 2px;
    border: 1px solid transparent; }
    #submit-job .path-container .back:hover {
      cursor: pointer;
      border: 1px solid #DDD; }
  #submit-job .path-container .path-bar {
    margin-left: 50px; }

#submit-job .selected-path-container {
  margin-bottom: 24px; }
  #submit-job .selected-path-container .selected-label {
    text-transform: uppercase;
    font-size: 0.9em; }

#current-jobs table {
  width: 100%; }
  #current-jobs table td, #current-jobs table th {
    border: 1px solid #666;
    padding: 12px; }
  #current-jobs table th {
    text-transform: uppercase;
    font-size: 0.8em;
    background: #EFEFEF;
    padding: 18px 12px; }
  #current-jobs table td {
    font-weight: 300;
    font-size: 0.9em; }
