<div id='login-page'>
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}
      <div class='card'>
        <div class="card-header">
          Login
        </div>
        <!--<div>-->
        <!--<a class='button facebook-login' href='/auth/facebook'>-->
        <!--Login with Facebook-->
        <!--</a>-->
        <!--</div>-->
        <div class="card-content">
          <a class='button google-login' href='/auth/google'>
            Login with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
