
<script type="text/javascript">
  var params = [];
  var path = "{{ path }}";
  var url = "{{ data_url }}" + "?path=" + path;
  console.log(url);
  console.log(path);

  params["images"] = [url];

</script>

<div id="nii">
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}

      <div class="card">
        <div class="card-content">
            <div class="path-bar">
              {{ path }}
            </div>

            <div class="papaya-container">
              <div class="papaya" data-params="params"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/papaya.js"></script>
<script type="text/javascript" src="/js/nii-view.js"></script>
