<div id="current-jobs">
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}
      <div class="card">
        <div class="card-header">
          Current Jobs
        </div>
        <div class="card-content">
          <table>
            <tr class="header-row">
              <th>Path</th>
              <th>Finish Status</th>
              <th>Started</th>
            </tr>
            {{# each jobs }}
              <tr>
                <td>
                  <a href="current-jobs/view/{{this._id}}">{{ this.scriptPath }}</a>
                </td>
                <td>
                  {{ this.finished }}
                </td>
                <td>
                  {{ relativeTime this.timestamp }}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
