<div id="index">
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}
      <div class="card">
        <div class="card-header">
          Site Landing Page
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>
</div>

