<div id="index">
  <div class="color-background"></div>

  <div class="relative-container">
    <div class="container-inner">
      {{> navbar }}
      <div class="card">
        <div class="card-header">
          Home
        </div>
        <div class="card-content">
          <p style="max-width: 600px;">
            This site serves as a platform for reproducible neuroimaging analysis
            research. Upload neuroimaging data and schedule analysis jobs to
            run on the server.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

