<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400"
        rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400"
        rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400"
        rel="stylesheet"/>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
        rel='stylesheet'/>
  <link rel="stylesheet" href="/css/style.css">


  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script src="/components/jquery/dist/jquery.min.js"></script>
</head>
<body>


{{{body}}}


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
